.azure
.vscode
.vs
local.tests.http
bin
obj
local.settings.json
*csproj.user
/infra/.vscode/settings.json
/infra/modules/appconfig/test.appconfiguration.params.json
/infra/modules/monitor/test.customtable.params.json
/infra/modules/monitor/test.datacollectionendpoint.params.json
/infra/modules/monitor/test.datacollectionrule.params.json
/docs/raw/*.drawio.bkp
